:root {
    --backgroud: #0f0710;
    --backgroud80: #000000d2;
    --text-content: #b50101;
    --background-pop-up-blocks: #55000080;
    --tags-color: #bdbdbd;
    --strokes: #2e7e6847;
    --shiny-light: #ff0000;
    --shiny-light10: #ffa50010;
    --shiny-light50: #ffa50050;
    --shiny-light00: #ffa50000;
    --background-svg: #c10b0be8;
    --attachment-text: #ab00ff;
}