:root {
    --backgroud: #cdcdcd;
    --backgroud80: #ff0000d2;
    --text-content: #414141;
    --background-pop-up-blocks: #959595d4;
    --tags-color: #008049;
    --strokes: #000000;
    --shiny-light: #aeaeae;
    --shiny-light10: #aeaeae1f;
    --shiny-light50: #aeaeae73;
    --shiny-light00: #aeaeae00;
    --background-svg: #3d00588a;
    --attachment-text: #696969;
}
body{
    text-shadow: none;
}

.linear_icon_c_target, .linear_icon_c_target>* {
    stroke-width: 16;
    filter: none;
}
.item_tags_style {
    text-shadow: none;
}
.special_symbols_style {
    text-shadow: none;
}