:root {
    --backgroud: #770000;
    --backgroud80: #000000d2;
    --text-content: #000;
    --background-pop-up-blocks: #55000080;
    --tags-color: #fff;
    --strokes: red;
    --shiny-light: #ff0000;
    --shiny-light10: #ffa50010;
    --shiny-light50: #ffa50050;
    --shiny-light00: #ffa50000;
    --background-svg: #000;
    --attachment-text: #6b6b6b;
}
body{
    text-shadow: 0px 0px 3px black, 0 0 5px red;
}

.linear_icon_c_target, .linear_icon_c_target>* {
    stroke-width: 24;
}
.style_logo_circle{
    stroke-width: 24px;
}
.item_tags_style {
    text-shadow: 0 0 3px black;
}
.special_symbols_style {
    text-shadow: 0 0 3px black, 0 0 5px #292626;
}