//right bar tools styles

#symbols_container_page_right_bar{
    display:none;
}
#counter_block_found_words{
  font-size: 12px;
}

#container_post_code{
    width: 200px;
    justify-self: end;
    grid-column: 4/5;
    grid-row: 1/2;
}

#resulr_area_right_bar{
    display:block;
    width: max-content;
    max-width: max-content;
  };

  #output_information_screen{
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
    align-items: center;
    justify-items: center;
    z-index: 689;
    pointer-events: none;
    } 

#switch_right_bar{
  transform: rotate(270deg);
}
#switch_right_bar:hover{
  transition: 1s;
  transform: translateX(-4px) rotate(270deg);
}
#scroll_button{
  display: grid;
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: end;
  justify-self: right;
  position: relative;
  margin: 10px;
  transform: rotate(180deg);
}
#scroll_button:hover{
  transition: 1s;
  transform: translateY(4px) rotate(180deg);
}

#sprite_ram{
  font-size: 116pt;
  font-family: someFont;
}
#last_posts_lists{
  font-size: 12px;
  padding: 16px 8px;
}
#post_pop_up_menu{
  position: absolute;
  transition: 1s;
  border-top: 1px dashed var(--shiny-light);
  border-bottom: 1px dashed var(--shiny-light);
  overflow: hidden;
}