//--cursor-auto: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100' width='100'%3E%3Ccircle cx='8' cy='8' r='5' stroke='white' stroke-width='1.5' filter='drop-shadow(0px 2px 2px gray)' fill='none' /%3E%3C/svg%3E")8 8, auto;
//--cursor-pointer: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100' width='100'%3E%3Ccircle cx='10' cy='10' r='8' stroke='white' stroke-width='1.5' stroke-dasharray='6 3' filter='drop-shadow(0px 2px 2px gray)' fill='none' /%3E%3C/svg%3E")12 12, pointer;

:root {
  --backgroud: #770000;
  --backgroud80: #000000d2;
  --text-content: #000;
  --background-pop-up-blocks: #55000080;
  --tags-color: #fff;
  --strokes: red;
  --shiny-light: #ff0000;
  --shiny-light10: #ffa50010;
  --shiny-light50: #ffa50050;
  --shiny-light00: #ffa50000;
  --background-svg: #000;
  --attachment-text: #878787;
    //validation
    --wrong:red;
    --correct:green;
}
body{
  text-shadow: 0px 0px 3px black, 0 0 5px red;
}

.linear_icon_c_target, .linear_icon_c_target>* {
  stroke-width: 24;
}
.style_logo_circle{
  stroke-width: 24px;
}
.item_tags_style {
  text-shadow: 0 0 3px black;
}
.special_symbols_style {
  text-shadow: 0 0 3px black, 0 0 5px #292626;
}


