//functional properties
//design properties


//block
  //node
.site_template {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 2;
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  grid-template-rows: 80px 1fr 40px;
  grid-template-columns: minmax(20px,10%) 1fr minmax(360px,10%);
}
.header{
  grid-row: 1/2;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  height: 100%;
  opacity: 0.95;
  z-index: 2;
  align-items: center;
  justify-content: left;
}
.logo_and_menu_buttons{
  display: grid;
  grid-area: 1/2/3/3;
  grid-template-columns: 60px 1fr 240px;
  align-items: center;
  z-index: 3;
}
.container_work{
    display: grid;
    grid-template: 1fr/2fr minmax(304px, 1fr);
    grid-row: 1/4;
    grid-column: 1/4;
    justify-self: center;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 40px; 
}
.clipboard_symbols_panel{
  display: grid;
  grid-template: repeat(auto-fit, minmax(46px, 1fr))/repeat(auto-fit, minmax(46px, 1fr));
  align-items: center;
  padding: 0 32px 0 16px;
}
.post_low_panel {
  grid-column: 1/3;
  grid-row: 2/3;
  display: grid;
  margin-top: 12px;
  font-size: 12px;
  grid-template: 0/50px 50px 50px 1fr;
  justify-items: left;
}
.footer {
  display: grid;
  grid-row: 3/4;
  grid-column: 1/4;
  color: var(--tags-color);
  overflow: hidden;
  padding-left: 40px;
  align-items: center;
  grid-template: 1fr/1fr 1fr;
  border-top: 1px dashed var(--content-light-shadow);
}
.footer_left_container{
  display:grid;
  grid-row: 1/3;
  grid-column: 1/2;
  grid-template: 1fr / 1fr 1fr;
}
.footer_rigth_container{
  display: grid;
  grid-template: 1fr/ 1fr 1fr;
  grid-row: 1/3;
  grid-column: 2/3;
  justify-content: end;
  align-items: center;
  padding-right: 30px;
}
.item {
  display: grid;
  grid-template-columns: 1fr 80px;
  grid-template-rows: 24px 1fr;
  padding: 16px 16px 16px 0px;
  margin-bottom: 80px;
  border-top: 1px dashed var(--text-content);
  border-bottom: 1px dashed var(--text-content);
}
.settings_header{
  display:grid;
  grid-template: 1fr/1fr 16px;
  align-items:center;
  justify-items: center;
}
.settings_tabs_cont_pos{
display:block;
}
.settings_objects_search{
  display:grid;
  grid-template:repeat(auto-fit,minmax(34px,25%))/repeat(auto-fit,minmax(34px,25%));
  height: 150px;
  transition:1s;
}

  //units
    //functional properties (affect on a page sense )

.item_input{
  grid-column: 2/3;
  grid-row: 1/2;
  overflow-x: auto;
  width: max-content;
  max-width: max-content;
  min-width: 300px;
  tab-size: 4;
  line-height: 1.6;
  white-space: pre-wrap;
  border-left: 1px dashed #ffffff00;
  padding: 0px 2px;
  overflow:hidden;
}
.post_name{
  display: grid;
  grid-column: 1/3;
  grid-row: 1/2;
  align-items: center;
  grid-template: 1fr/ 120px 10px 1fr;
  font-size:12px;
}
.post_icon_container{
  grid-template: 1fr/ 1fr 1fr 1fr;
  display: grid;
  grid-column: 2/3;
  grid-row: 1/2;
}

.sense_item {
  display: grid;
  grid-template: 1fr 26px/26px 1fr;
  grid-column: 1/3;
  grid-row: 2/3;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  row-gap: 16px;
  column-gap: 16px;
}
.items_container {
  padding: 0 40px; 
  overflow-y: auto;
  overflow-x: hidden;
}
.tag_container_off {
  display:none;
  transition:1s;
}
.tag_container_on{
  display:grid;
  transition:1s;
}
.count_points{
  justify-self: end;
}
.search_field_block{
  display: none;
}
.header_logo_container {
  grid-column: 1/2;
  display:grid;
}
.header_logo{
      width: 48px;
      height: 48px;  
      justify-self: center;
      align-self: center;
      transition:1s;
}
.header_right_bar{
  grid-column: 1/2;
  grid-row: 1/2;
}
.create_element_button{
  grid-column:1/2;
}
.save_not_saved_style{
  grid-column:2/3;
  justify-self: right;
  color: var(--text-content);
}
.menu_container{
  display: grid;
  grid-template: 20px 30px/ 1fr;
  padding: 14px 0 0 0;
  grid-column: 2/3;
  align-items: center;
}
.header_channel_data{
  grid-column: 1/4;
  grid-row: 1/2;
  justify-self: left;
}
.setting_button{
  justify-self: end;
  grid-column: 3/4;
  grid-row: 1/2;
}
.items_container {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 100%;
  }
.items_container_fullscreen{
grid-column: 1/3;
}
.exit_icon_pos{
  grid-column: 2/3;
}
.upper_layer_for_animation{
  height: 100vh;
  display: grid;
  grid-row: 1/2;
  grid-column: 1/2;
  align-items: center;
  justify-items: center;
  z-index: 688;
  pointer-events: none;
  }
.bottom_layer_for_img_animation{
  grid-template: 1fr/1fr;
  height: 100vh;
  display: grid;
  grid-row: 1/2;
  grid-column: 1/2;
  align-items: center;
  justify-items: center;
  z-index: -45;
  pointer-events: none;
}

.shadow_background_container_pos{
  display: none;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-items: center;
}
.search_row{
  display: grid;
  padding: 0px 8px;
  margin: 20px 0;
  transition: 1s;
  line-height: 1.4;
  grid-template-rows: auto auto;
  border-left: 1px dashed var(--backgroud);
  border-right: 1px dashed var(--backgroud);
  column-gap: 10px;
  row-gap:16px;
}
.search_row:hover{
  border-left: 1px dashed var(--text-content);
  border-right: 1px dashed var(--text-content);
  transition: 1s;
}

    //design properties
.item_input:focus-visible {
  outline:none;
}
.item_input:focus{
  border-left: 1px dashed var(--text-content);
  border-right: 1px dashed var(--text-content);
}
.item_input:focus > span.item_tags_style{
  border: 1px dashed #ffffff00;
  padding: 0 0 0 0;
}
.post_row{
  transition: 1s;
  height: 22px;
  padding-right: 6px;
  //background: var(--background-svg);
}
.button_cont_stl{
  width: 24px;
  height: 24px;
  display: grid;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--backgroud);
  background-repeat: no-repeat;
  border-radius: 20px;
  transition: .4s;
  background:rgba(0, 0, 0, 0);
}
.button_cont_stl:hover {
  border: 1px solid var(--text-content);
  transition:.4s;
}
.button_cont_stl:hover * {
  stroke: var(--shiny-light);
  transition:.4s;
} 
.tools_button_copy{
  color:var(--text-content);
  transition:.5s;
  padding:4px;
  text-align: center;
  border: none;
  background: none;
}
.tools_button_copy:hover{
  color: var(--shiny-light);
  transition: .5s;
  cursor:var(--cursor-pointer);
  border: none;
  background: none;
}
.settings_container {
  margin: 40px 0 0 0;
  padding-right: 20px;
  grid-column: 1/2;
  grid-row: 1/2;
  overflow-x: hidden;
  pointer-events: none;
}

.central_pop_up_block{
  display: grid;
  grid-template: 32px 1fr / 1fr;
  position: relative;
  min-width: 300px;
  width: 80%;
  overflow-y: auto;
  background: var(--backgroud);
  opacity: .95;
  border-top: 1px dashed var(--text-content);
  border-bottom: 1px dashed var(--text-content);
  padding: 16px;
}
.header_logo:hover{
  filter: drop-shadow( 0px 0px 20px var(--shiny-light));
  transition:1s;
}
  /*____________right bar____________*/
.tag_container {
  row-gap: 20px;
  grid-row: 1/2;
  grid-column: 2/3;
  width: 100%;
  grid-template: 80px 1fr/1fr;
  overflow:hidden;
  padding: 0 12px;
  clear: both;
  z-index: 50;
}
.tab_right_bar {
  display: grid;
  grid-template:1fr / 1fr;
}
.tab_right_bar_wrap{
  grid-column: 1/2;
  grid-row: 2/3;
  display:block;
  overflow: auto;
}
.tools_container {
  grid-column: 1/2;
  grid-row: 1/2;
  overflow-x: hidden;
  pointer-events: none;
  height: 0;
}

.tools_container > * {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.6s ease;
}

.settings_container > * {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.6s ease;
}
 /*_____________________________________*/
 .switch_right_bar:hover{
  color:var(--tags-color);
  cursor:var(--cursor-pointer);
}
.item, a.item  {
  width: 100%;
  margin: 10px 0;
  transition: 1s;
  margin-bottom: 80px;
}
.item:hover > a {
color: var(--tags-color);
transition: .5s;
}
.shadow_container_property{
  background: var(--background-pop-up-blocks);
}
.file_time{
  padding-left: 6px;
}
.container_for_buttons{
  display:block;
}
.collaps_block{
  overflow:hidden;
  height:0px;
  transition:1s;
}
.open_collapsed_block{
  overflow:hidden;
  transition:1s;
}
.big_arrows_stl{
  display: grid;
  width: 24px;
  height: 24px;
  z-index: 99;
  cursor:var(--cursor-pointer);
  justify-content: center;
  align-items: center;
  justify-self: right;
  transition: 1s;
}
.search_row_head_time{
  display: grid;
  justify-self: end;
  grid-column: 3/4;
  grid-row:1/2;
}
.save_flag{
  line-height: 1.4;
}
.result_window_padding{
  padding:16px 8px;
}
.pseudosphere_container{
  width: 100%;
  height: 90%;
}
.pseudosphere_icon{
  transform: rotate(350deg);
}
.background_svg_container {
  width: 70%;
  min-width: 500px;
  max-width: 900px;
  grid-column: 1/2;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
    opacity: .3;
}
.background_svg{
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  stroke: var(--background-svg);
  fill:none;
  stroke-width: 1px;
  z-index:-10;
}
.background_svg > rect{
  stroke:none;
}

@keyframes rot {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.search_row_delete{
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  text-align: end;
  align-items: end;
}
.post_pop_up_show{
  width: 300px;
  background: var(--background-pop-up-blocks);
  padding: 8px 16px;
}
.post_pop_up_hide{
  width:0px;
  padding: 8px 0px;
}
.current_post_search_row{
  opacity: .5;

}
.link_part{
  display: grid;
  grid-template: auto / 30px 1fr 100px;
  grid-row: 1/2;
  grid-column: 1/2;
  align-items: center;
  width: 100%;
  overflow: hidden;
  transition: .5s;
}
.link_part:hover {
  background: var(--background-pop-up-blocks);
  color: var(--shiny-light);
  margin-left: 16px;
  width: 100%;
  transition: 1s;
}
a.link_part>* {
  cursor: var(--cursor-pointer);
}
.header_search_ind{
  grid-row: 1/2;
  grid-column: 2/3;
}
.search_row_body{
  display: grid;
  grid-template:1fr/1fr 30px;
  grid-row: 2/3;
  grid-column: 1/2;
}
.first_words_search_row{
  grid-row: 2/3;
  grid-column: 1/3;

}
.ram_row{
  display: grid;
  padding: 0 8px;
  margin: 20px 0;
  transition: 1s;
  line-height: 1.4;
  grid-template-rows: auto auto;
  border-left: 1px dashed var(--backgroud);
  border-right: 1px dashed var(--backgroud);
  column-gap: 10px;
}
.ram_row:hover{
  border-left: 1px dashed var(--text-content);
  border-right: 1px dashed var(--text-content);
  transition: 1s;
}

.ram_link_part{
  display: grid;
  grid-row: 1/2;
  grid-column: 1/2;
  align-items: center;
  width: 100%;
  transition: .5s;
}
.ram_head_time{
  display: grid;
  justify-self: end;
  grid-column: 2/3;
}
.ram_row_first_words{
  grid-row: 2/3;
  grid-column: 1/2;
}
.ram_row_body{
  display: grid;
  grid-template: 1fr/1fr 30px;
  grid-row: 2/3;
  grid-column: 1/2;
}
.ram_row_delete{
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  text-align: end;
  align-items: end;
}
.output_block{
  font-size: 12px;
  padding: 8px 0px;
  border-top: 1px dashed var(--text-content);
  border-bottom: 1px dashed var(--text-content);
}
.public_private_index{
  font-size:12px;
  color:var(--strokes);
}

.focus_row {
border-top: 1px dashed var(--strokes);
border-bottom: 1px dashed var(--strokes);
}

.open_d_d{
  transform:rotate(45deg);
  color: var(--text-content)!important;
}
.subclass{
  height: 0!important;
  transition: 1s;
  opacity: 0;
  pointer-events: none;
}

.numbers_bar{
  grid-row:1/2;
  grid-column:1/2;
  line-height: 1.6;
  color: var(--strokes);
}
.numbers_bar > div {
  display:grid;
  grid-template: 22px / 26px 8px;
  height:22px;
  width: 34px;
  text-align: right;
  transition: 1s;
}

.arrows_c{
  text-align: center!important;
  width: 16px!important;
  transition: .3s;
  opacity: .2;
  color: var(--shiny-light);
}

.arrows_c:hover{
  opacity: 1;
  cursor:var(--cursor-pointer);
}

error{
  display:inline-block;
  color:var(--wrong);
}

.search_act_cont{
  border: 1px dashed var(--text-content);
  border-radius: 10px;
  text-align: center;
  width: fit-content;
  min-width: 20px;
  padding: 0 4px;
}

.menu_item_right_bar{
  display: grid;
  grid-template: 30px/30px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.right_menu_icon{
  grid-row:1/1;
  grid-column:1/1;
}
.icon_border{
  width:45px;
  height:45px;
  grid-row:1/1;
  grid-column:1/1;
}

.icon_border:hover{
  width:50px;
  height:50px;
  transform: rotate(180deg);
  transition:.3;
}

input[type="radio"]{
  display:none;
}

.container_search_tab_input{
  display:grid;
  grid-template: auto / 20px 1fr;
}
.buttons_inputs_search_tab{
  display: grid;
  align-items: center;
  justify-content: center;
}
.search_toggle{
  display: inline-block;
  width: 18px;
  height: 18px;
  text-align: center;
  border: 1px solid var(--text-content);
  padding: 0 2px;
  border-radius: 10px;
  transition:.2s;
}

.toggle_turned_on:hover{
  cursor:var(--cursor-pointer);
}
.toggle_turned_off{
  transform: rotate(45deg);
  transition:.2s;
}
.hide_cl{
  display:none;
}
.show_cl{
  display: inline;
}
.arrows_sh{
color: var(--tags-color);
}
.arrow_down{
transform: rotate(90deg);
transition:.3s;
}
.menu_container_right_bar{
  display: grid;
  grid-template: repeat(auto-fit,minmax(30px,80px))/repeat(auto-fit,minmax(30px,1fr));
  max-width: 440px;
}
.show_page > *{
  opacity: 1;
  transform: translateX(0%);
  transition: all 0.8s ease;
  pointer-events: all;
}
.show_page{
  height: auto;
}

.hide_page{
  width:0px;
}
.header_reuslt_window{
  display: grid;
  grid-template: 1fr / 1fr 30px;
  align-items: center;
  margin-bottom: 8px;
}
.menu_container_settings_pop_up{
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-template: repeat(auto-fit,minmax(30px,60px))/repeat(auto-fit,minmax(100px,1fr));
}
.menu_button_panel{
  display: grid;
  grid-column: 1/2;
  grid-row: 2/3;
  grid-template: 1fr/repeat(auto-fit,minmax(30px,20px));
  width: 300px;
  align-items: center;
  justify-items: left;
}