@media screen and (max-width: 1000px) {
    ::-webkit-scrollbar {
        width: 0px;
        right: 0px;
    }
    .mental_image_L_container {
        padding: 16px 8px 0 8px;
    }
    .item{
        padding:16px 8px 0px 8px;
        box-shadow: none;
        border:none;
    }
    .tools_container{
        top: 60px;
    }
    .header{
        grid-template:1fr / 8px 1fr 8px;
        height: 60px;
    }
    .tab00s_container{
        padding: 0 8px;
    }
}; 
@media screen and (max-width: 600px) {
    .tag_container{
        display: none;
        background: var(--backgroud);
        width: calc(100% - 8px);
        grid-template: 100px 1fr/1fr;
        grid-column: 1/3;
        padding: 0 16px;

        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 1px;
        background: var(--backgroud);
        margin: 0px 0px;
    }
    .header{
        grid-template:1fr / 0px 1fr 0px;
    }
    .logo_and_menu_buttons{
        grid-template-columns: 80px 1fr 40px;
    }
    .header_logo_container{
        margin-bottom: 0px;
    }
    .header_logo{
        width: 40px;
        height: 40px;
    }
    .menu_container{
        grid-template: 1fr/30px 1fr;
    }
    .header_channel_data{
        display:none;
    }
    .container_work{
        grid-template: 20px 1fr/1fr;
        top:60px;
    }
    .tag_container_on{
        display:grid;
        padding-top: 40px;
    }
    .icon_size_middle{
        height: 24px;
        width: 24px; 
    }
    .animation_er_layer_1{
        height: 60px;
    }
    .animation_er_layer_2{
        height: 60px;
    }
}