@media screen and (max-width: 1000px) {
    .items_container{
        padding: 0 12px;
    }
    ::-webkit-scrollbar {
        width: 0px;
        right: 0px;
    }
    .items_container {
        padding: 0 0 0 12px;
    }
    .item{
        padding:16px 8px;
        box-shadow: none;
        border:none;
    }
    .tools_container{
        top: 60px;
    }
}; 
@media screen and (max-width: 600px) {
    .tag_container{
        display: none;
        background: var(--backgroud);
        width: calc(100% - 8px);
        grid-template: 100px 1fr/1fr;
        border-bottom: 1px dashed var(--text-content);
        border-top: 1px dashed var(--text-content);
        grid-column: 1/3;
        padding: 0 16px;

        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 1px;
        background: var(--backgroud);
        margin: 0px 0px;
    }
    .header{
        grid-template:1fr / 0px 1fr 0px;
    }
    .logo_and_menu_buttons{
        grid-template-columns: 80px 100px 1fr;
    }
    .menu_container{
        grid-template: 1fr/30px 30px 1fr;
    }
    .header_channel_data{
        display:none;
    }
    .container_work{
        grid-template: 1fr/1fr;
    }
    .tag_container_on{
        display:grid;
        padding-top: 80px;
    }
    .icon_size_middle{
        height: 24px;
        width: 24px; 
    }
}