//svg styles

.linear_icon_c_target, 
.linear_icon_c_target > * {
        transition: .3s;
        fill: none;
        stroke: var(--text-content);
        stroke-width: 16;
        stroke-linecap: round;
        stroke-miterlimit: 10;
}

.linear_icon_c_target:hover{
        stroke:var(--shiny-light); 
        transition: .3s;
        cursor:var(--cursor-pointer);
}
.linear_icon_c_target_x_checked > *{
        stroke:var(--shiny-light); 
        cursor:var(--cursor-pointer);
}
.linear_icon_c_target_x_checked:hover{
        cursor:var(--cursor-auto);
}

.icon_size_middle{
height: 20px;
width: 20px; 
cursor:var(--cursor-pointer);
}
.icon_size_sl_a_middle{
height: 22px;
width: 22px;      
cursor:var(--cursor-auto);
}
.icon_size_sl_a_middle:hover{
cursor:var(--cursor-pointer);    
}
.icon_size_big{
height: 34px;
width: 34px; 
}

//header logo
.header_logo:hover .circle_logo{
        stroke:white; 
        transition: 1s;
        cursor:var(--cursor-pointer);
        border: 1px dashed var(--strokes);
}
.style_logo_circle{
        fill:none;
        stroke: var(--text-content);
        stroke-width:16;
        stroke-linecap:round;
        stroke-miterlimit:10;
}
.style_logo{
        fill:var(--text-content);
        stroke: var(--backgroud);
        stroke-width:3px;
        stroke-linecap:round;
        transition:1s;
}
.header_logo:hover .style_logo{
        fill:var(--shiny-light);
        stroke: #ffffff00;
        //filter: drop-shadow( 0px 0px 20px var(--shiny-light));
        transition:1s;
        cursor:var(--cursor-pointer);
}
.style_logo_circle{
        transition:1s; 
}
.header_logo:hover .style_logo_circle{
        stroke: var(--shiny-light);
        transition:1s;
        cursor: var(--cursor-pointer);
}

