::-moz-selection {
    color: var(--shiny-light);
    background: var(--background-pop-up-blocks);
}

::selection {
    color: var(--shiny-light);
    background: var(--background-pop-up-blocks);
}

::placeholder {
    color: var(--text-content);
  }

mark {
    background: none;
    border-bottom: 1px dashed var(--strokes);
    border-top: 1px dashed var(--strokes);
    color: var(--shiny-light);
}
mark > *{
    color: var(--shiny-light);
}
replacer{
    background: none;
    color: var(--shiny-light);
}
replaced_text{
    color: var(--wrong);
    text-decoration:line-through;
}
  

.item_tags_style{
    cursor:var(--cursor-pointer);
    border-radius: 24px;
    opacity: .7;
    color: var(--tags-color);
    background:none;
}

.item_tags_style:hover{
    opacity: .95; 
}
.special_symbols_style{
    color: var(--attachment-text);
    cursor: var(--cursor-pointer);
}

.icon_buttons_visual_effects{
    text-shadow: 1px 0px 3px var(--text-content);
    cursor: var(--cursor-pointer);
    transition: .5s;
}
.icon_buttons_visual_effects:hover{
    text-shadow: 1px 0px 13px var(--shiny-light);
    transition: .5s;
}
